<div class="about-container">
  <h3>About <span class="mono--bd">science fair</span></h3>
  <div class="flex">
    <div class="image">
      <img src="/images/iconic-duo.png" />
      <p class="img-label">- meme by a student</p>
    </div>
    <div class="about">
      <p><span class="mono--bd">science fair</span> is a project by <a class="link" href="https://github.com/jlr7245">J Silverstein</a> and <a class="link" href="https://github.com/pmacaluso3">Pete Macaluso</a>, who developed it to provide their students with the communal experience of a bootcamp graduation science fair. It is fully <a class="link" href="https://github.com/jlr7245/science_fair">open source on Github</a> and open to contributors.</p>
    </div>
  </div>
</div>