<div class="hero">
  <h1>Welcome to the <span class="mono--reg">science fair</span>.</h1>
  <div class="cta">
    <a class="btn--brand sans--bd" href="/users/new?user_type=student">Join as a student</a>
    <a class="btn--brand sans--bd" href="/users/new?user_type=instructor">Join as an instructor</a>
  </div>
</div>
<div class="whats-science-fair">
  <div class="container">
    <div class="title"><p>What is <span class="mono--bd">science fair</span>?</p></div>
    <div class="description"><p><span class="mono--bd">science fair</span> is a way for students to share their work for their coding bootcamp and participate in a science-fair-like environment while being remote.</p></div>
  </div>
</div>