<% @projects.each do |project| %>
  <p><%= project.name %></p>
  <% if project.user_site %>
    <%= link_to "Your site for this project", project_site_path(project.user_site)%>
  <% else %>
    <p>You haven't created a site yet for this project. <%= link_to "Create one?", new_project_site_path(project) %>
  <% end %>
    
<% end %>