// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// homepage

@import 'base';

.hero {
  background-image: image-url('hero.jpg');
  background-size: cover;
  background-position: center center;
  flex-basis: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: $xxl;
    @include sans;
    max-width: 800px;
    margin: 50px auto;
    font-weight: 900;
    line-height: $lh;
    text-align: center;
  }
  .cta {
    display: flex;
    a {
      margin: 0 10px;
    }
  }
}

.whats-science-fair {
  @include brand-dk-bg;
  .container {
    @include container(50px 0);
    display: flex;
    .title {
      flex-basis: 33vw;
    }
    .description {
      @include sans;
      font-size: $m;
      line-height: $lh;
      flex-basis: 66vw;
    }
  }
}


// about
.about-container {
  @include container(100px 0);
  .img-label {
    @include sans;
    @include brand-dk-txt;
    font-size: $xs;
    margin-left: 250px;
  }
  h3 {
    font-size: $l;
    margin-bottom: 40px;
    line-height: $lh;
  }
  .flex {
    align-items: center;
  }
}

.about {
  p {
    @include sans;
    font-size: $m;
    line-height: $lh;
  }
}

